.product{
    display: flex;
    border: 2px solid black;
    align-items: center;
    margin: 15px;
    padding: 15px;
    background-color: #42C0D2;
}

img{
    width: 500px;
    height: 650px;
}

.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin: 1em;
    padding: 1em;
    background-color: midnightblue;
    color: whitesmoke;
    border-radius: 15px;
  }