
#user {
    margin: 1rem;
    border: solid black 1px;
    padding: 1rem;
}

#heading {
display: flex;
justify-content: center;
text-decoration: underline;
}
#user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}