#footer {
    display: flex;
    justify-content: space-between;
    padding: .25rem;
    position: fixed;
    border: 1px solid white;
    background-color: grey;
    bottom: 0%;
    
}
.footer-btns {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    color: black;
}